
<!-- <hr style="margin-top: 3%; margin-bottom: 3%;"> -->
<app-nav></app-nav>


<div  style="background-color: #0cffff; margin-bottom: 5%; border-radius: 8px; display: flex; flex-wrap: wrap; justify-content: space-around;margin-top: 3%;">
  <div > <img src="../../assets/images/job1Image.webp"  with="100px" height="200px" alt=""/></div>
<div > <img src="../../assets/images/job2Image.webp"  with="100px" height="200px" alt=""/></div>
<div > <img src="../../assets/images/job3Image.webp"  with="100px" height="200px" alt=""/></div>
</div>

<app-comapy></app-comapy>
