
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>



<div class="cont" style="width: 100%; height: 100%; justify-content: center; align-items: center;  display: inline-flex; margin-top: 20px; flex-wrap: wrap;height: 300px;" >
  <!-- <div style="justify-content: center; align-items: flex-start; gap: 30px; display: inline-flex"> -->
    <div class="cards1" style="display: flex; align-items: center; width: 540px; height: 188px;">
      <img class="img-fluid imgess" src="../../assets/images/job-work-svgrepo-com.svg"   alt="#">
      <div class="card-body" style="display: flex; flex-direction: column; ">
        <h4 class="card-title titleC" >Job Tracker</h4>
        <p class="card-text discountOffer1" style="width: auto; height: auto;">20% OFF</p>
        <p class="card-text" style="color: #83859C;">desert</p>
      </div>
    </div>

    <div  class="cards2" style="display: flex; align-items: center;width: 540px; height: 188px;" >
      <img class="img-fluid imgess" src="../../assets/images/job-user-svgrepo-com.svg" alt="#">
      <div class="card-body">
        <h4 class="card-title titleC" style="margin-top: 5px;">Big Burgers</h4>
        <p class="card-text discountOffer2" style="width: auto; height: auto;">20% OFF</p>
        <p class="card-text" style="color: #83859C;">Fooddies</p>
      </div>
    </div>

  </div>
